@import "_mixins";



.nav1,
.nav2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav1-content {
  display: inline-flex;
}


.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.location,

.button-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subcontent {
  @include grid(4, 5%)
}
